@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;700&family=Raleway:wght@200;400;600&display=swap");
:root {
  --primary-color: #1C1D25;
  --background-color: #F2F2F2;
  --grad-color: linear-gradient(to right, #312DFF,#45BCFF);
}

body {
  background: var(--background-color);
  margin: 0;
  font-family: 'Raleway';
}

a {
  text-decoration: none;
}

h1, h2, p {
  color: white;
}

.logo {
  height: 3em;
  width: auto;
}

.gradient-button {
  color: white;
  font-family: poppins;
  font-weight: 800;
  background-image: -webkit-gradient(linear, left top, right top, from(#FF3D00), color-stop(#FFB800), color-stop(#FFB800), to(#FF3D00));
  background-image: linear-gradient(to right, #FF3D00, #FFB800, #FFB800, #FF3D00);
  background-size: 300%;
  background-position: left;
  padding: 0.5em 2em;
  cursor: pointer;
  -webkit-transition: background-position 0.5s;
  transition: background-position 0.5s;
}

.para-gap {
  line-height: 1.5em;
}

.gradient-button:hover, .gradient-button:focus {
  background-position: 90%;
}

.section-heading {
  font-family: 'Bebas Neue';
  font-weight: 300;
  font-size: 48px;
  margin-top: 3em;
  letter-spacing: 2px;
  color: white;
  padding: 0.3em;
}

.project-heading {
  margin: 0;
  padding-left: 1em;
  font-family: 'Poppins';
  font-weight: 300;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.project-number {
  margin: 0;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 4em;
  padding-right: 0.4em;
}

.center-div {
  width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

label {
  display: block;
  color: white;
  font-family: 'Poppins';
  font-size: 1.2em;
  padding-top: 0.3em;
  margin-bottom: 0.5em;
}

input, textarea {
  color: white;
  resize: vertical;
  font-family: 'Poppins';
  font-size: 18px;
  padding-bottom: 0.1em;
  outline: none;
  width: 100%;
  margin-bottom: 1em;
  border: none;
  background-color: #242729;
  border-bottom: 1px solid white;
}

input[type="submit"] {
  border: none;
  display: inline-block;
  padding: .7em .8em;
  width: unset;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
        supported by Chrome, Edge, Opera and Firefox */
}

.navbar {
  background-color: var(--primary-color);
  padding: 1em;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .container .menu {
  fill: white;
  height: 3.2em;
  width: auto;
  cursor: pointer;
}

.cover-page {
  background-color: var(--primary-color);
  min-height: 568px;
  overflow: hidden;
}

.cover-page h1, .cover-page p, .cover-page a {
  color: white;
  margin: 0;
}

.cover-page h1 {
  font-size: 2.0em;
  font-weight: 600;
}

.cover-page .name {
  font-family: 'poppins';
  font-size: 1.125em;
  font-weight: 200;
}

.cover-page .container {
  text-align: left;
  position: relative;
  padding-bottom: 15em;
}

.cover-page .container .left-col {
  padding-left: 2.5em;
  padding-top: 10vh;
  height: 50%;
  width: 70%;
}

.cover-page .container .left-col .sub-head, .cover-page .container .left-col .name {
  z-index: 1;
}

.cover-page .container .left-col .hire-button {
  position: relative;
  top: 2em;
  z-index: 1;
}

.cover-page .container .img-overflow {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
}

.cover-page .container .img-overflow .desktop-logo {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0.5em;
  bottom: -3em;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  max-height: auto;
  max-width: 100%;
}

.cover-page .desktop-socials {
  display: none;
}

.projects-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background-color: var(--primary-color);
  padding-bottom: 10vh;
}

.projects-section .project-mini {
  position: relative;
  margin-top: 5em;
}

.projects-section .project-mini .project-top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  position: relative;
  margin: 2em 0em -2.2em 0em;
}

.projects-section .project-mini .project-top-section .heading-bg {
  position: relative;
  left: -4em;
  top: 2.3em;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #312DFF), to(#45BCFF));
  background-image: linear-gradient(to right, #312DFF 30%, #45BCFF);
  width: 70vw;
  min-width: 15em;
  height: 8vh;
  min-height: 3em;
  max-height: 5em;
  -webkit-transform: skew(45deg) translateY(-50%);
          transform: skew(45deg) translateY(-50%);
}

.projects-section .project-mini .mid-section {
  background-color: #242729;
  padding-top: 5em;
  padding-bottom: 3em;
}

.projects-section .project-mini .mid-section .project-img-section {
  position: relative;
}

.projects-section .project-mini .mid-section .project-img-section img {
  width: 90%;
  max-width: 500px;
  height: auto;
  display: relative;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.projects-section .project-mini .mid-section .project-img-section .button-move-area {
  width: 90%;
  max-width: 500px;
  height: auto;
  display: relative;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projects-section .project-mini .mid-section .project-img-section .button-move-area .axcessor-button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.7em 0.7em;
  margin-bottom: 1em;
  margin-right: -0.8em;
}

.projects-section .project-mini .mid-section .project-para {
  text-align: center;
}

.projects-section .project-mini .mid-section .project-para p {
  text-align: left;
  width: 90%;
  max-width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-page-body {
  background-color: #F5F5F5;
}

.project-page-body .navbar {
  background-color: transparent;
}

.project-page-body .project-page img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-page-body .project-page .page-content .heading-div {
  display: block;
  position: relative;
  top: 1.5em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  z-index: 4;
}

.project-page-body .project-page .page-content .heading-div .main-project-heading {
  font-family: "Poppins";
  font-size: 36px;
  color: black;
  margin-top: 1.5em;
  margin-bottom: 0.2em;
}

.project-page-body .project-page .page-content .heading-div .project-first-img {
  width: 100%;
}

.project-page-body .project-page .page-content .project-description {
  background-color: var(--primary-color);
  margin-bottom: 10em;
  display: block;
  position: relative;
  z-index: 3;
}

.project-page-body .project-page .page-content .project-description .background-text {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.project-page-body .project-page .page-content .project-description .description-background {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3em 0em;
  width: 90%;
}

.project-page-body .project-page .page-content .project-description .description-background .center-align-description img {
  width: 100%;
  padding: 2em 0em;
}

.project-page-body .project-page .page-content .project-description .description-background .center-align-description p {
  font-family: 'Raleway';
  font-size: 18px;
  padding-bottom: 2em;
}

.project-page-body .project-page .page-content .project-description .button-position {
  display: block;
  position: absolute;
  right: 0;
  -webkit-transform: translateY(-0.5em);
          transform: translateY(-0.5em);
  margin-right: 1em;
}

.project-page-body .project-page .page-content .project-description .button-position .gradient-button {
  padding: 1em 1em;
}

.background-text {
  white-space: nowrap;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 144px;
  position: absolute;
  color: #22242C;
  z-index: 0;
  right: 0;
}

.aboutme-contact {
  background-color: var(--primary-color);
}

.aboutme-contact .aboutme {
  background-color: var(--primary-color);
  height: 100%;
  min-height: 50em;
  position: relative;
  overflow: hidden;
}

.aboutme-contact .aboutme .background-text-two {
  z-index: 0;
  bottom: 0;
  left: 0;
  top: 3em;
}

.aboutme-contact .aboutme .center-div .section-heading {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
}

.aboutme-contact .aboutme .aboutme-para {
  text-align: center;
}

.aboutme-contact .aboutme .aboutme-para p {
  position: relative;
  z-index: 1;
  text-align: left;
  width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.aboutme-contact .aboutme .contact-button {
  position: relative;
  z-index: 1;
  margin-top: 3em;
}

.aboutme-contact .contactme {
  position: relative;
  height: 55em;
  overflow: hidden;
}

.aboutme-contact .contactme .section-heading {
  position: relative;
  margin: 0;
  z-index: 1;
  max-height: 50em;
}

.aboutme-contact .contactme .heading-bg {
  position: absolute;
  top: 4em;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #312DFF), to(#45BCFF));
  background-image: linear-gradient(to right, #312DFF 30%, #45BCFF);
  width: 95%;
  height: 100%;
  max-height: 47em;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: skew(15deg, 0);
          transform: skew(15deg, 0);
}

.aboutme-contact .contactme .form-container {
  position: block;
  height: auto;
}

.aboutme-contact .contactme .form-section {
  position: relative;
  width: 90%;
  background-color: #242729;
  padding-top: 2em;
}

.aboutme-contact .contactme .form-section form {
  position: relative;
}

.aboutme-contact .contactme .form-section form label {
  margin-bottom: 2em;
}

.aboutme-contact .contactme .form-section form input, .aboutme-contact .contactme .form-section form textarea {
  margin-bottom: 3em;
}

.aboutme-contact .contactme .form-section form input[type="submit"] {
  position: absolute;
  bottom: -5em;
}

footer {
  background-color: #242729;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em 0em;
}

footer .footer-div {
  text-align: center;
}

footer .footer-div .footer-logo {
  height: 5em;
  width: 5em;
}

footer .footer-div .footer-social {
  padding-top: 1em;
  padding-bottom: 0.8em;
}

footer .footer-div .footer-social a {
  padding: 3em;
  font-weight: 800;
}

footer .footer-div .footer-social a:visited {
  color: white;
}

footer .footer-div p {
  font-family: 'Raleway';
  font-weight: 200;
  font-size: 14px;
}

li a:visited {
  color: white;
}

nav {
  position: fixed;
  z-index: 999;
  right: -80%;
  top: 0;
  width: 80%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0066FF), color-stop(70%, #8A85C2));
  background-image: linear-gradient(to bottom, #0066FF, #8A85C2 70%);
  height: 100vh;
}

nav ul.nav-menu {
  list-style-type: none;
  white-space: nowrap;
  font-size: 1.7em;
  margin-top: 20%;
}

nav ul.nav-menu li {
  margin: 1em 1em 1em 0em;
}

nav .exit-button-right {
  position: relative;
  text-align: right;
}

nav .exit-button-right .menu-exit-icon {
  padding: 28px;
  cursor: pointer;
}

nav .mobile-socials {
  position: fixed;
  display: inline;
  bottom: 0;
  margin-left: 1em;
}

nav .mobile-socials img {
  padding: 1em;
  height: 3em;
}

@media only screen and (min-width: 570px) {
  .cover-page .container {
    padding-bottom: 15em;
  }
  .cover-page .container .img-overflow .desktop-logo {
    max-width: 85%;
    left: 1em;
  }
}

@media only screen and (min-width: 768px) {
  .menu, .menu-exit-icon {
    display: none;
  }
  nav {
    position: absolute;
    height: 0;
    -webkit-transition: none;
    transition: none;
    right: 0%;
    background: none;
  }
  nav ul.nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style-type: none;
    white-space: nowrap;
    font-size: 1.4em;
    margin-top: 0%;
    right: 0;
  }
  nav ul.nav-menu li {
    margin: 1em 1em 1em 0em;
  }
  nav .mobile-socials img {
    display: none;
  }
  .cover-page .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    position: relative;
    padding-bottom: 15em;
  }
  .cover-page .container .left-col {
    display: block;
    padding-left: none;
    padding-top: none;
    height: 0;
    width: 70%;
  }
  .cover-page .container .left-col .sub-head, .cover-page .container .left-col .name {
    z-index: 1;
  }
  .cover-page .container .left-col .hire-button {
    position: relative;
    top: 2em;
    z-index: 1;
  }
  .cover-page .container .img-overflow {
    position: relative;
    margin-left: none;
    margin-right: none;
    margin: none;
  }
  .cover-page .container .img-overflow .desktop-logo {
    width: 50%;
    left: 1em;
    display: block;
    position: relative;
    -webkit-transform: scale(1);
            transform: scale(1);
    max-height: auto;
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */