*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


.loading-bg{
    position:absolute;
    width:100%;
    height: 100vh;
    background-color: black;
}
#logo-loading{
    position:absolute;
    min-width: 30vw;
    min-height: 30vh;
    max-width: 40vw;
    max-height: 40vh;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    stroke-width: 5px;
}


.logo-loading path{
    stroke: white;
    stroke-dasharray: 400;
    animation: loading 1s ease-in 0s infinite normal;
}

.logo-loadingEnd path{
    stroke: white;
    animation: finish-loading 1.3s cubic-bezier(.85,.09,.38,.65) 0s 1 normal;
}

@keyframes loading{
    to{
        stroke-dashoffset: 800 ;
    }

}

@keyframes finish-loading{
    from{
        stroke-dasharray: 400;
    }
    to{
        stroke-dasharray: 800;
    }
}